@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

h1 {
  margin: 0;
  padding-bottom: 25px;
}

button {
  color: #fff;
  border: none;
  background-color: #18212a;
  font-size: 1rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.container {
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #888888;
}

.screen {
  background-color: #36474f;
  color: #fff;
  padding: 10px;
  padding-bottom: 20%;
}

.input {
  background-color: #36474f;
  color: #fff;
  border: 0;
  outline: none;
  cursor: default;
  font-size: 1.2rem;
  caret-color: transparent;
}

.input-container {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}

.output-container {
  display: flex;
  justify-content: right;
  font-size: 1.1rem;
}
.keyboard {
  background-color: #18212a;
  padding-bottom: 10px;
}

.last-btn {
  background-color: #e5e5e5;
  color: #18212a;
}

.equal-btn {
  background-color: #ff6531;
  color: #e5e5e5;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.rad-50 {
  border-radius: 50%;
}

@media only screen and (max-device-width: 896px) {
  button {
    font-size: 1.3rem;
  }

  .container {
    width: 100%;
    border-radius: 0;
    height: 100vh;
  }

  .screen {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .input {
    font-size: 3rem;
  }

  .output {
    font-size: 2rem;
  }
  .keyboard {
    height: 65%;
  }

  .row {
    height: 16%;
  }
}

@media only screen and (min-device-width: 897px) {
  button:hover {
    opacity: 0.8;
  }

  .container {
    max-width: 400px;
  }
}

button:active {
  opacity: 0.6;
}
